<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Pledge">
 	
<!--  	sql 테스트용 임시임 -->
 	<select id="Pledge.getTemp" resultType="String">
 	select * from pledge_temp
 	</select>
		
</mapper>

  















